* {
    box-sizing: border-box;
}

body.application {
    padding-top: 60px;
    background-color: #001749;
}

#page {
    background-size: contain;
    background-repeat: no-repeat;
}

#text-container {
    text-align: center;
    font-family: "Josefin Sans";
    color: white;
    padding: 60px 30px;
    line-height: 1.8;
    background-color: #001749;
}

.btn > a:hover {
    text-decoration: none;
}

.btn:hover {
    background-color: white;
}

button.intro_button {
    background-color: darkorange;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: 100%;
}

.dc-select-menu,
.number-display {
    font-size: 25px;
}

a.reset {
    float: right;
}

td.dc-table-label {
    display: none;
}

td, th {
    padding: 10px;
}

.dc-chart g.row text {
    fill: black;
}

footer > p {
    font-size: 10px;
    color: white;
    margin-top: 30px;
}

div#guest-datatable.dc-chart,
div#show-datatable.dc-chart {
    background-color: white;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 30px;
}