{% extends "index.html" %}
{% block content %}

    <div class="container">

            <div class="row">

                <!-- year select -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Year
                        </div>
                        <div class="chart-stage">
                            <div id="year-select"></div>
                        </div>
                    </div>
                </div>
                <!-- year select -->

                <!-- Number display for the number of guests -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Guests
                        </div>
                        <div class="chart-stage">
                            <div id="number-guests-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Number display for the number of guests -->

                <!-- Number display for the number of shows -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Shows
                        </div>
                        <div class="chart-stage">
                            <div id="number-shows-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Number display for the number of shows -->

            </div>

            <div class="row">

                <!-- Occupation Groups Pie -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Occupation Groups
                            <a class="reset" href="javascript:occupationGroupChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="occupation-group-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Occupation Groups Pie -->

                <!-- Specific Occupations Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Occupation of the Guests
                            <a class="reset" href="javascript:specificOccupationChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="specific-occupation-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Specific Occupations Chart -->

            </div>

            <div class="row">

                <!-- Top Guests Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Top 10 Guests
                            <a class="reset" href="javascript:topGuestsChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="top-guests-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Top Guests Chart -->

                <!-- Guests By Year Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of Guests By Year
                            <a class="reset" href="javascript:guestsByYearChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="guests-by-year-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Guests By Year Chart -->

            </div>

            <div class="row">

                <!-- Acting, Media, Politician series chart -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Show the 3 top occupational groups
                        </div>
                        <div class="chart-stage">
                            <div id="top-occupation-groups-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Acting, Media, Politician series chart -->

            </div>

            <div class="row">

                <!-- guest select -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper col-sm-12">
                        <div class="chart-title">
                            Choose a guest
                            <a class="reset" href="javascript:selectGuest.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="guest-select"></div>
                        </div>
                    </div>
                    <div class="chart-wrapper col-sm-12">
                        <div id="guest-datatable"></div>
                    </div>
                </div>
                <!-- guest select -->

                <!-- show select -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper col-sm-12">
                        <div class="chart-title">
                            Choose a show
                            <a class="reset" href="javascript:selectShow.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="show-select"></div>
                        </div>
                    </div>
                    <div class="chart-wrapper col-sm-12">
                        <div id="show-datatable"></div>
                    </div>
                </div>
                <!-- show select -->

            </div>

    </div>

{% endblock %}