{% extends "index.html" %}
{% block content %}

    <div class="container">

            <div>
                <button class="intro_button" type="button" autofocus onclick="introJs().start();">Click to Start Tour!</button>
            </div>

            <div class="row">

                <!-- year select -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Year
                        </div>
                        <div class="chart-stage">
                            <div id="year-select" data-step="1" data-intro="Select a year to filter the related data" style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- year select -->

                <!-- Number display for the number of guests -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Guests
                        </div>
                        <div class="chart-stage">
                            <div id="number-guests-nd" data-step="2" data-intro="Displays the total number of guests" style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Number display for the number of guests -->

                <!-- Number display for the number of shows -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Shows
                        </div>
                        <div class="chart-stage">
                            <div id="number-shows-nd" data-step="3" data-intro="Displays the total number of shows" style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Number display for the number of shows -->

            </div>

            <div class="row">

                <!-- Occupation Groups Pie -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Occupation Groups
                            <a class="reset" href="javascript:occupationGroupChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="occupation-group-chart" data-step="4" data-intro="Shows the occupation groups of the guests. Click on the slices to filter the data." style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Occupation Groups Pie -->

                <!-- Specific Occupations Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Occupation of the Guests
                            <a class="reset" href="javascript:specificOccupationChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="specific-occupation-chart" data-step="5" data-intro="Shows the top ten occupations. Click on the rows to filter the data." style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Specific Occupations Chart -->

            </div>

            <div class="row">

                <!-- Top Guests Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Top 10 Guests
                            <a class="reset" href="javascript:topGuestsChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="top-guests-chart" data-step="6" data-intro="Shows the top ten guests. Click on the rows to filter the data" style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Top Guests Chart -->

                <!-- Guests By Year Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of Guests By Year
                            <a class="reset" href="javascript:guestsByYearChart.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="guests-by-year-chart" data-step="7" data-intro="Displays the number of guests. Click on the orange area and drag the mouse to choose a section and filter the data." style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Guests By Year Chart -->

            </div>

            <div class="row">

                <!-- Acting, Media, Politician series chart -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            The 3 top occupational groups
                        </div>
                        <div class="chart-stage">
                            <div id="top-occupation-groups-chart" data-step="8" data-intro="Shows how the top 3 occupation groups have changed over the years. This chart is only for information purposes, does not interact with the other charts." style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>
                <!-- Acting, Media, Politician series chart -->

            </div>

            <div class="row">

                <!-- guest select -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Choose a guest
                            <a class="reset" href="javascript:selectGuest.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="guest-select" data-step="9" data-intro="Select a guest to see their occupation and the show they appeared in." style="font-weight: normal" data-position="top"></div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                        <div id="guest-datatable"></div>
                </div>

                <!-- guest select -->
            </div>


            <div class="row">
                <!-- show select -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Choose a show
                            <a class="reset" href="javascript:selectShow.filterAll();dc.redrawAll();">reset</a>
                        </div>
                        <div class="chart-stage">
                            <div id="show-select" data-step="10" data-intro="Select a show to see who appeared in it and what their occupation was." style="font-weight: normal" data-position="top"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                        <div id="show-datatable"></div>

                </div>
                <!-- show select -->

            </div>

    </div>

{% endblock %}