{% extends "index.html" %}
{% block content %}



        <div id="home-page" class="row">

            <div class="col-md-9">
                <img class="img-responsive" src="{{url_for('static', filename='images/jon-stewart.jpg') }}">
            </div>

            <div id="text-container" class="col-md-3">
                <p>Do you know this guy on the right? Yes, he is Jon Stewart, the former host of The Daily Show.
                    His career would be so exciting to talk about, but what we are more interested in now,
                    is the guests he interviewed on the show. We are talking about more than 2000 guests,
                    covering more than 300 job titles. Sounds really fascinating, right?</p>
                <p>So let’s have a look at the data now!</p>
                <button class="btn"><a href="/graphs"><strong>CLICK HERE</strong></a></button>
            </div>

        </div>


{% endblock %}