<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--sets up a responsive designed page-->

        <title>The Daily Show</title>

        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/keen-dashboards.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">

    </head>


    <body class="application">

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">The Guests of Jon Stewart in the Daily Show</a>
                </div>
            </div>
        </div>

        <!-- year select -->
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Year
                </div>
                <div class="chart-stage">
                    <div id="menu-select"></div>
                </div>
            </div>
        </div>
        <!-- year select -->


        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Total Number of Guests
                </div>
                <div class="chart-stage">
                    <div id="number-guests-nd"></div>
                </div>
            </div>
        </div>


        <!-- Number display for the number of shows -->
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Total Number of Shows
                </div>
                <div class="chart-stage">
                    <div id="number-shows-nd"></div>
                </div>
            </div>
        </div>
        <!-- Number display for the number of shows -->

        <!-- Occupation Groups Pie -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Occupation Groups
                </div>
                <div class="chart-stage">
                    <div id="occupation-group-chart"></div>
                </div>
            </div>
        </div>
        <!-- Occupation Groups Pie -->

        <!-- Specific Occupations Chart -->
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Occupation of the Guests
                    </div>
                    <div class="chart-stage">
                        <div id="specific-occupation-chart"></div>
                    </div>
                </div>
            </div>
        <!-- Specific Occupations Chart -->

        <!-- guest select -->
        <div class="col-sm-12">
            <div class="chart-wrapper col-sm-6">
                <div class="chart-title">
                    Choose a guest
                </div>
                <div class="chart-stage">
                    <div id="guest-select"></div>
                </div>
            </div>
            <div class="chart-wrapper col-sm-6">
                <div id="guest-datatable"></div>
            </div>
        </div>
        <!-- guest select -->

        <!-- show select -->
        <div class="col-sm-12">
            <div class="chart-wrapper col-sm-6">
                <div class="chart-title">
                    Choose a show
                </div>
                <div class="chart-stage">
                    <div id="show-select"></div>
                </div>
            </div>
            <div class="chart-wrapper col-sm-6">
                <div id="show-datatable"></div>
            </div>
        </div>
        <!-- show select -->

        <!-- Acting, Media, Politician series chart -->
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Show the 3 top occupational groups
                </div>
                <div class="chart-stage">
                    <div id="top-occupation-groups-chart"></div>
                </div>
            </div>
        </div>
        <!-- Acting, Media, Politician series chart -->

        <!-- Javascript files -->
        <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>


    </body>

</html>