<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--sets up a responsive designed page-->

        <title>The Daily Show</title>

        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/keen-dashboards.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">

    </head>


    <body class="application">

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">The Guests of Jon Stewart in the Daily Show</a>
                </div>
            </div>
        </div>

        <div id="page" class="container-fluid">

            {% block content %}
            {% endblock %}

        </div>

        <footer class="col-12">


            <p>© 2017 - Csilla Pap</p><a href="https://github.com/csillpap/The-guests-of-Jon-Stewart-data-visualisation"><i class="fa fa-github"></i></a>
            <p>Data used from<a href="https://github.com/fivethirtyeight/data" target="_blank">FiveThirtyEight</a> under the<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></p>

		</footer>

        <!-- Javascript files -->
        <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
        <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>


    </body>

</html>