<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--sets up a responsive designed page-->

        <title>The Daily Show</title>

        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/keen-dashboards.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">

    </head>


    <body class="application">

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">The Guests of Jon Stewart in the Daily Show</a>
                </div>
            </div>
        </div>

        <div id="page" class="container-fluid">

            {% block content %}
            {% endblock %}

        </div>

        <footer class="col-12">

            <p>Database: <a href="https://github.com/fivethirtyeight/data" target="_blank">FiveThirtyEight</a> under the<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></p>
            <p>More info <a href="https://github.com/csillpap/The-guests-of-Jon-Stewart-data-visualisation">here</a></p>
            <P>Source of the home page image: <a href="https://commons.wikimedia.org/wiki/File%3ADefense.gov_News_Photo_110203-N-0696M-105_-_Chairman_of_the_Joint_Chiefs_of_Staff_Adm._Mike_Mullen%2C_U.S._Navy%2C_appears_on_The_Daily_Show_with_Jon_Stewart_in_New_York_City_on_Feb._3%2C_2011.jpg">here</a></P>
            <p>© 2017 - Csilla Pap</p>

		</footer>

        <!-- Javascript files -->
        <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
        <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>


    </body>

</html>